:root {
  --colorPrimary: #3da9fc;
  --colorSecondary: #5f6c7b;

  --colorLight: #fffffe;
  --colorDark: #094067;

  --colorAlert: #ef4565;
  --colorAlertHover: #e11439;
  --colorWarning: #f18f01;
  --colorWarningHover: #df8601;
  --colorSuccess: #61d095;
  --colorSuccessHover: #38bc76;
}
